.crew {
  background: black;
  background-image: url(../img/astronaut.jpg);
  min-height: calc(100vh - 160px);
  width: 100vw;
  padding-bottom: 80px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.crew-wrapper {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  box-shadow: grey 0px 30px 40px -2em inset;
}

.cardEmployee {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 285px;
  margin: 2rem;
  background: black;
  box-shadow: rgba(239, 239, 247, 0.485) 0px 8px 24px, rgba(209, 209, 225, 0.441) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.cardEmployee img {
  width: 200px;
  max-height: 250px;
}
.cardEmployee p {
  margin: 10px;
  color: white;
}

@media (max-width: 400px) {
  .crew {
    padding-bottom: 160px;
  }
}
