.App {
  text-align: center;
}



header {
  position: sticky;
  height: 100px;
  top:0;
  left:0;
  background: linear-gradient(to right, black, yellow);
  background: no-repeat center url("/src/components/img/spacex_cut.jpg");

}


.header {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}