


.App {
  text-align: center;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;

}

.page {
  display: flex;
 
}

.left-section {
  width: fit-content;
}

.menu li{
  border: solid 1 px black;
  margin: 3px;
  min-width: fit-content;

}

.menu span {
  white-space: nowrap;
  min-width: fit-content;
}

.content {
  width: fit-content;
}